@use "../styles/base" as base;

.book {
  &-row {
    td {
      padding: 10px;
      @include base.border;
      text-align: center;
    }
  }

  &-thumbnail {
    width: 50px;
    height: auto;
    border-radius: 4px;
  }
}

.select-button {
  background-color: base.$primary-color;
  color: base.$netural-color;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: base.$primary-hover-color;
  }
}

// @media (min-width: 768px) {
//   .book-thumbnail {
//     width: 80px;
//   }

//   .select-button {
//     font-size: 16px;
//     padding: 8px 12px;
//   }
// }

// @media (min-width: 1024px) {
//   .book-thumbnail {
//     width: 100px;
//   }

//   .select-button {
//     font-size: 18px;
//     padding: 10px 15px;
//   }
// }
